POSTGRES_DB=dependencytrack
POSTGRES_USERNAME=dependencytrack
POSTGRES_PASSWORD=change-me
CORS_ALLOW_ORIGIN=http://localhost:8080
DEPENDENCY_TRACK_API_KEY=
TRIVY_SERVER_TOKEN=change-me-trivy-token
TRIVY_IGNORE_UNFIXED=false